// override material style
.progress {
  .mat-slider-track-background {
    background-color: whitesmoke !important;
  }

  .mat-slider-wrapper {
    top: 12px !important;
  }

  .mat-slider-thumb {
    background-color: $accent !important;
    border-color: $accent !important;
  }
}

.link {
  cursor: pointer;
}
