.progress {
  .mat-slider-track-background {
    background-color: whitesmoke !important;
  }

  .mat-slider-thumb {
    background-color: $accent !important;
    border-color: $accent !important;
  }
}
