<div class="player" kuiDisableContextMenu>
    <video
        class="video"
        #video
        [src]="src"
        type="video/mp4"
        preload="auto"
        [muted]="muted"
        (click)="togglePlay()"
        (timeupdate)="timeUpdate($event)"
        (canplaythrough)="statusUpdate($event)"
    ></video>

    <!-- <mat-progress-bar class="progress" [value]="(currentTime / duration * 100).toFixed(0)" mode="determinate"
        [bufferValue]="currentBuffer" [color]="'primary'" (click)="goto($event)">
    </mat-progress-bar> -->
    <mat-toolbar class="controls">
        <mat-toolbar-row>
            <div class="progress">
                <mat-slider
                    [value]="currentTime"
                    [max]="duration"
                    [min]="0"
                    (input)="goto($event)"
                ></mat-slider>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button (click)="togglePlay()">
                <mat-icon>{{ play ? "pause" : "play_arrow" }}</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button (click)="navigate(-10)">
                <mat-icon>replay_10</mat-icon>
            </button>

            <div (scroll)="goto($event)">
                {{ currentTime | kuiTime }}
            </div>

            <button mat-icon-button (click)="navigate(+10)">
                <mat-icon>forward_10</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button (click)="muted = !muted">
                <mat-icon>{{ muted ? "volume_off" : "volume_up" }}</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
