.player {
  width: 100%;
  max-width: 1280px;
  max-height: 960px;
  background: black;

  &.cinema {
    max-width: 100vw;
    max-height: 80vh;
    margin: 0;
    left: 0;
    position: absolute;

    .video {
      max-height: 960px;
    }
  }

  .video {
    width: 100%;
  }

  .progress,
  .mat-slider {
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .controls {
    background: black;
    color: white;
    padding-bottom: 16px;

    .time {
      margin-top: 12px;
      padding: 0 6px;
      cursor: all-scroll;
    }
  }
}

.mat-toolbar-row {
  height: 24px;
}

// flex layout helper
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
