<div class="player" kuiDisableContextMenu [class.cinema]="cinemaMode">
    <video
        class="video"
        #video
        [src]="'data/' + file + '/' + file + '.mp4'"
        type="video/mp4"
        preload="auto"
        [muted]="muted"
        (click)="togglePlay()"
        (timeupdate)="timeUpdate($event)"
        (loadedmetadata)="loadedMetadata($event)"
    ></video>

    <!-- <mat-progress-bar class="progress" [value]="(currentTime / duration * 100).toFixed(0)" mode="determinate"
        [bufferValue]="currentBuffer" [color]="'primary'" (click)="goto($event)">
    </mat-progress-bar> -->
    <!-- preview image -->
    <div class="preview" #preview>
        <p class="preview-time">
            <span class="time">{{ previewTime | kuiTime }}</span>
        </p>
    </div>
    <mat-toolbar class="controls">
        <mat-toolbar-row class="progress" #progress>
            <mat-slider
                [value]="currentTime"
                [max]="duration"
                [min]="0"
                (input)="updateTimeFromSlider($event)"
                (mousemove)="updatePreview($event)"
                (mouseenter)="displayPreview('block')"
                (mouseleave)="displayPreview('none')"
            ></mat-slider>
        </mat-toolbar-row>
        <mat-toolbar-row class="buttons">
            <button mat-icon-button (click)="togglePlay()">
                <mat-icon>{{ play ? "pause" : "play_arrow" }}</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button (click)="updateTimeFromButton(-10)">
                <mat-icon>replay_10</mat-icon>
            </button>

            <div (wheel)="updateTimeFromScroll($event)">
                <p class="mat-body-1 time" (click)="togglePlay()">
                    {{ currentTime | kuiTime }} / {{ duration | kuiTime }}
                </p>
            </div>

            <button mat-icon-button (click)="updateTimeFromButton(+10)">
                <mat-icon>forward_10</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button (click)="muted = !muted">
                <mat-icon>
                    {{ muted ? "muted" : "volume_up" }}
                </mat-icon>
            </button>
            <button mat-icon-button (click)="toggleCinemaMode()">
                <mat-icon>{{
                    cinemaMode ? "fullscreen_exit" : "fullscreen"
                }}</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
