<mat-list>
    <div mat-subheader>Videos</div>
    <mat-list-item *ngFor="let item of videos">
        <kui-video-preview matListAvatar [video]="item" class="own-preview-style" (openvideo)="openVideo($event)">
        </kui-video-preview>
        <div mat-line class="link" [routerLink]="'/video/' + item.name">{{ item.name | uppercase}} |
            {{ item.duration | kuiTime }}</div>
        <div mat-line><span *ngIf="item.description" [innerHtml]="item.description"></span></div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <br>
</mat-list>
