:host {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: block;

  .mat-list-item {
    margin: 64px 0;
  }

  .own-preview-style {
    // width: 80px !important;
    width: 160px !important;
    // height: 48px !important;
    height: 120px !important;
    border-radius: 2px !important;
  }
}
