<div class="player" kuiDisableContextMenu [class.cinema]="cinemaMode">
    <div class="container" *ngIf="video && videoSrc">
        <video class="video" #videoEle [src]="videoSrc" type="video/mp4" preload="auto" [muted]="muted"
            (click)="togglePlay()" (timeupdate)="timeUpdate($event)" (loadedmetadata)="loadedMetadata($event)"
            (canplaythrough)="loadedVideo($event)">
        </video>

        <div class="preview-line">
            <!-- preview image -->
            <div class="preview" #preview>
                <p class="preview-time">
                    <span class="time">{{ previewTime | kuiTime }}</span>
                </p>
            </div>
        </div>
    </div>

    <mat-toolbar class="controls">
        <mat-toolbar-row style="overflow: hidden;">
            <kui-av-timeline #timeline [value]="currentTime" [min]="0" [max]="duration" [resized]="cinemaMode"
                (move)="updatePreview($event)" (mouseenter)="displayPreview('block')"
                (mouseleave)="displayPreview('none')" (change)="updateTimeFromSlider($event)"></kui-av-timeline>
        </mat-toolbar-row>
        <!-- <mat-toolbar-row>
            <input class="progress" type="range" [value]="currentTime" min="0" [max]="duration" [step]="0.04">
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-slider class="progress" [value]="currentTime" [min]="0" [max]="duration"
                (mousemove)="updatePreview($event)" (mouseenter)="displayPreview('block')"
                (mouseleave)="displayPreview('none')" (mouseup)="sliderChange($event)"></mat-slider>
        </mat-toolbar-row> -->
        <mat-toolbar-row class="action">
            <button mat-icon-button (click)="togglePlay()">
                <mat-icon>{{ play ? "pause" : "play_arrow" }}</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button (click)="updateTimeFromButton(-10)">
                <mat-icon>replay_10</mat-icon>
            </button>

            <div (wheel)="updateTimeFromScroll($event)">
                <p class="mat-body-1 time" (click)="togglePlay()">
                    {{ currentTime | kuiTime }}
                    <span *ngIf="!loading">/ {{ duration | kuiTime }}</span>
                </p>
            </div>

            <button mat-icon-button (click)="updateTimeFromButton(+10)">
                <mat-icon>forward_10</mat-icon>
            </button>
            <span class="fill-remaining-space"></span>
            <button mat-icon-button (click)="muted = !muted">
                <mat-icon>
                    {{ muted ? "volume_mute" : "volume_up" }}
                </mat-icon>
            </button>
            <button mat-icon-button (click)="toggleCinemaMode()">
                <mat-icon>{{
                    cinemaMode ? "fullscreen_exit" : "fullscreen"
                }}</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- <mat-progress-bar
        class="progress"
        [value]="currentBuffer"
        mode="determinate"
        [color]="'primary'"
    >
        <!-- ((currentTime / duration) * 100).toFixed(0) --
    </mat-progress-bar> -->
</div>

<p>currentBuffer: {{ currentBuffer }}</p>
<p>currentTime: {{ currentTime }}</p>
